fastapi
uvicorn[standard]

python-dotenv
pydantic
pydantic-settings

# JWT
python-jose

# For File Uploads
python-multipart

# Redis Cache (optional but you used it)
redis

# LangChain Core + OpenAI + Chroma
langchain
langchain-core
langchain-openai
langchain-chroma

# Vector DB embedding + documents
langchain-community

# PDF Processing
pypdf

# OpenAI official client
openai

# Utilities
tqdm
